
h1{
    text-align: center;
    font-weight: bolder;
    
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 30px;
    align-content: center;
  }
  table{
      margin-top: 5px;
      
  }
  input {
    background-color: transparent;
    border: 0px solid;
    height: 30px;
    width: 160px;
    color: black;
}
 textarea:focus, input:focus{
    outline: none;
} 
select{
    /*background-color: transparent;*/
    border: 0px solid;
    height: 20px;
    width: 160px;
    color: black; 
}
select:focus {
    box-shadow: none;
    outline: none;
    }